<!-- wp:template-part {"slug":"header","theme":"charity-blocks","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"charity-blocks/banner"} /-->

<!-- wp:pattern {"slug":"charity-blocks/volunteer-sec"} /-->

<!-- wp:pattern {"slug":"charity-blocks/our-causes"} /-->

<!-- wp:pattern {"slug":"charity-blocks/latest-news"} /-->

<!-- wp:pattern {"slug":"charity-blocks/about-section"} /-->

<!-- wp:pattern {"slug":"charity-blocks/faq-section"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"charity-blocks","tagName":"footer","className":"home-footer-class"} /-->